/*css*/

body {
	background-color: Lavender;
	
}

.button {
	background-image: url("Pictures/play.png") ;
	background-repeat: no-repeat;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
   
	background-color: Yellow ;
	
}

.Noisemaker {
	margin-right: 1em;
	margin-left : 1em;
  border: 3px solid blue;
	float: left;
	width: 350px;
	height: 260px;				/*höhe */
			
	display:  inline-block;		/*positioniert sich nebeneinander wenn möglich */
	background-color: MediumVioletRed ;
	text-align: center;
}

.Equalizer {
	/*display:  inline-block;		/*positioniert sich nebeneinander wenn möglich */
	background-color: Blue ;
}

.room {
	/*display:  inline-block;*/	
	background-color: Green ;
	position: fixed;
	height: 100%;
	width: 16%;	
}