/*css*/

body {
	background-color: Lavender;
	
}

.button {
	float: both;
	width: 80px;
	height: 50px;	
}
.play {
	background-image: url("Pictures/play.png") ;
	background-repeat: no-repeat;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
	background-color: Yellow;
	float: both;
	width: 150px;
	height: 120px;	
	
}

.Noisemaker {
	margin-right: 10px;
	margin-left : ;
  border: 3px solid blue;
	float: left;
	width: 350px;
	height: 260px;				/*höhe */
			
	display:  inline-block;		/*positioniert sich nebeneinander wenn möglich */
	background-color: MediumVioletRed ;
	text-align: center;
}

.Equalizer {
	display:  inline-block;		/*positioniert sich nebeneinander wenn möglich */
	background-color: Blue ;
	float: both;
	width: 90%;
	height: 460px;
}
#panningContainer {
    background: #5b6f69;
    width: 90%;
}

#sliderContainer {
    
	
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;

}

.room {
	display:  inline-block;	
	background-color: Green ;
	position: fixed;
	height: 100%;
	width: 16%;	
	float: both;
}