/*css*/

body {
	background-color: Lavender;
	
}

.button {
	background-image: url("Pictures/play.png") ;
	background-repeat: no-repeat;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
	background-color: Yellow ;
	
}

.Noisemaker {
	width: 16%;					/*breite */
	height: 16%%;				/*höhe */
	position: fixed;			/*absolute, static, fixed etc */
	display:  inline-block;		/*positioniert sich nebeneinander wenn möglich */
	background-color: MediumVioletRed ;
	text-align: center;
}

.Equalizer {
	display:  inline-block;		/*positioniert sich nebeneinander wenn möglich */
	background-color: Blue ;
}

.room {
	display:  inline-block;	
	background-color: Green ;
	position: fixed;
	height: 100%;
	width: 16%;	
}